<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .product-card {
            margin-bottom: 30px;
        }

        body {
            background: linear-gradient(to bottom, #ffffff, #f2f2f2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

    </style>
</head>
<body>

<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>

<form class="form-inline my-2 my-lg-0" th:action="@{/admin/search}" method="get">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>


<h1 class="text-center">List products</h1>

<div class="text-center">
    <a class="btn btn-success" th:href="@{/admin/add}">Add Product</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 product-card" th:each="product : ${products.content}">
            <div class="card h-100">
                <img class="card-img-top" th:src="${product.imagePath}" th:alt="${product.name}">
                <div class="card-body">
                    <h2 class="card-title" th:text="${product.name}"></h2>
                    <p class="card-text" th:text="'$' + ${product.price}"></p>
                </div>
                <div class="card-footer">
                    <form method="post" action="/delete/{id}" th:action="@{/admin/delete/{id}(id=${product.id})}">
                        <input type="hidden" name="_method" value="delete" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <a class="btn btn-primary" th:href="@{/admin/edit/{id}(id=${product.id})}">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${products.first} ? disabled">
            <a class="page-link" th:href="@{/admin/(page=${products.number}-1)}">&laquo;</a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, products.totalPages-1)}">
            <a class="page-link" th:href="@{/admin/(page=${i})}" th:text="${i+1}"></a>
        </li>
        <li class="page-item" th:classappend="${products.last} ? disabled">
            <a class="page-link" th:href="@{/admin/(page=${products.number}+1)}">&raquo;</a>
        </li>
    </ul>
</nav>

</body>
</html>